.underdog-regular {
  font-family: "Underdog", system-ui;
  font-weight: 400;
  font-style: normal;
}

.container {
    background-color: rgba(0,0,0,0.1);
}
.posts {
    background-color: #f9f9f9;
}
#add_post:checked ~ .post_form  {
    display: block;
}

.post_form {
    display: none;
    max-width: 600px;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.view_comments:checked ~ .comments  {
    display: block!important;
}

.comment_form {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 1em;
}
.comments {
    height: 150px;
    overflow-y: scroll;
}

.btn_view_comment:hover {
    transform: scale(1.1);
}