#add_post:checked ~ .post_form  {
    display: block;
}

.post_form {
    display: none;
    max-width: 600px;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.view_comments:checked ~ .comments  {
    display: block!important;
}

.comment_form {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

textarea {
    height: 1em;
}
.comments {
    height: 150px;
    overflow-y: scroll;
}